asn1crypto==0.23.0
automium==0.2.6
automium-web==0.1.1
certifi==2017.7.27.1
cf-deployment-tracker==1.0.2
cffi==1.11.2
chardet==3.0.4
click==6.7
cloudant==2.4.0
cryptography==2.1.1
dj-database-url==0.4.2
Django==1.11.4
django-mathfilters==0.4.0
djangorestframework==3.6.2
Flask==0.11.1
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
legacy==0.1.6
MarkupSafe==1.0
olefile==0.44
Pillow==6.2.0
psycopg2==2.7.1
pycparser==2.18
pyOpenSSL==17.3.0
pysolr==3.6.0
pytz==2017.2
requests==2.13.0
simplejson==3.11.1
six==1.11.0
urllib3==1.22
virtualenv==15.0.1
watson-developer-cloud==0.25.2
Werkzeug==0.12.1
whitenoise==3.3.0
yahoo-finance==1.4.0
psycopg2==2.7.1
